MODEL_URL=http://localhost:11434/v1/
MODEL_KEY=ollama
MODEL_NAME=gemma4:e2b-it-qat
AGENT_NAME='Coding Assistant'
AGENT_INSTRUCTIONS='You are a programming assistant.'
SESSION_ID=default
SESSION_DB_PATH=conversation.db
